/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .explore_one_inner_content {
        margin-right: 0;
    }

    .explore_one_prev {
        margin-left: 45px;
    }

    .providing_one_four_boxes ul li {
        max-width: 262px;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .providing_one_four_boxes ul li:nth-child(3) {
        margin-bottom: 0;
    }

    .providing_one_four_boxes ul li:nth-child(4) {
        margin-bottom: 0;
    }

    .providing_one_four_boxes ul li+li {
        margin-left: 0;
    }

    .providing_one_four_boxes ul li .providing_one_four_boxes_iocn {
        margin: 0 auto 23px;
    }

    .how_it_works_single li+li {
        margin-left: 5px;
    }

    .how_it_works_shape_1 {
        right: 120px;
    }

    .blog_one_content_box {
        padding: 42px 30px 35px;
    }

    .blog_one_carousel.owl-theme .owl-nav {
        bottom: -32px;
        left: -332px;
    }

    .blog_one_content_box h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .footer_widget__newsletter {
        margin-top: 40px;
    }

    .cta_one_text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .featured_properties_right {
        margin-left: 0;
    }

    .why_choose_two {
        padding-bottom: 60px;
    }

    .why_choose_right {
        margin-left: 0;
    }

    .are_you_ready_shape img {
        width: 75%;
    }

    .two_boxes_single {
        padding: 40px 15px 40px;
    }

    .two_boxes_content h3 {
        font-size: 19px;
        line-height: 29px;
    }

    .three_icons_list li {
        max-width: 310px;
        padding: 58px 40px 49px;
    }

    .about_page_right {
        margin-left: 0;
    }

    .contact .block-title h2 {
        font-size: 47px;
        color: var(--thm-black);
        line-height: 60px;
        font-weight: 700;
    }

    .members_details_right {
        margin-left: 0;
    }

    .faqs_left .block-title h2 {
        font-size: 43px;
        line-height: 53px;
    }

    .author-one {
        padding: 40px;
        align-items: inherit;
    }

    .listing_one_content_right_input_box {
        margin-bottom: 20px;
    }

    .price_sidebar {
        margin-top: 20px;
    }

    .filter_by_tags_btn a.filter_results {
        margin-bottom: 20px;
    }

    .filter_inner_content .right {
        margin-top: 15px;
    }

    .listings_two_page_content_single {
        flex-direction: column;
    }

    .listings_two_page_bottom_content {
        max-width: 282px;
    }

    .listing_details_top_product_list_box {
        margin-left: 0;
    }

    .listing_details_top_right {
        margin-left: -50px;
    }

    .listing_details_top_product_list_box:before {
        display: none;
    }

    .cities_one_properties_content {
        max-width: 308px;
    }



}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .explore_one_inner_content {
        margin-right: 0;
    }

    .explore_one_prev {
        margin-left: 45px;
    }

    .explore_one_next {
        margin-right: -321px;
    }

    .providing_one_left {
        margin-bottom: 50px;
    }

    .providing_one_four_boxes ul {
        float: left;
    }

    #testimonials-one__carousel p {
        font-size: 25px;
        line-height: 35px;
    }

    .how_it_works_single {
        text-align: center;
    }

    .how_it_works_single li:nth-child(3) {
        margin-left: 0;
    }

    .how_it_works_single li:nth-child(1) {
        margin-bottom: 60px;
    }

    .how_it_works_single li:nth-child(2) {
        margin-bottom: 60px;
    }

    .how_it_works_shape_1 {
        display: none;
    }

    .blog_one_left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .blog_one_right:before {
        display: none;
    }

    .blog_one_carousel.owl-carousel .owl-stage-outer {
        margin-right: 0;
    }

    .blog_one_carousel.owl-theme .owl-nav {
        bottom: -70px;
        left: 0;
    }

    .blog_one {
        padding: 0px 0 120px;
    }

    .footer_widget__explore {
        margin-left: 0;
        margin-top: 40px;
    }

    .footer_widget__newsletter {
        margin-top: 40px;
    }

    .cities_one_properties_content {
        max-width: 188px;
    }

    .cta_one_inner {
        flex-direction: column;
    }

    .cta_one_text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .cta_one_text {
        margin-bottom: 20px;
    }

    .featured_properties_left {
        margin-left: 0;
    }

    .featured_properties_right {
        margin-left: 0;
        margin-top: 60px;
    }

    .why_choose_right {
        margin-left: 0;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .are_you_ready_content h2 {
        font-size: 64px;
        line-height: 74px;
    }

    .are_you_ready_shape img {
        display: none;
    }

    .three_icons_list {
        text-align: center;
    }

    .three_icons_list li {
        float: none;
    }

    .three_icons_list:before {
        display: none;
    }

    .three_icons_list li:before {
        display: none;
    }

    .about_page_right {
        margin-left: 0;
        margin-top: 50px;
    }

    .contact__form {
        margin-top: 50px;
    }

    .faq {
        margin-top: 50px;
    }

    .faqs_img.mar-30 {
        margin-bottom: 30px;
    }

    .listing__one__map {
        width: 100%;
    }

    .listing_one_content_right {
        width: 100%;
    }

    .listing_one_content_right_input_box {
        margin-bottom: 20px;
    }

    .listing_details_top_product_list_box {
        margin-left: 0;
    }

    .listing_details_top_product_list_box:before {
        display: none;
    }

    .listing_details_bottom_right {
        float: left;
        margin-top: 20px;
    }

    .listing_details_sidebar {
        margin-top: 42px;
    }

    .members_details_right {
        margin-left: 0;
        margin-top: 30px;
    }


}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .explore_one_inner_content {
        margin-right: 0;
    }

    .explore_one_nav {
        display: none;
    }

    .latest_properties_nav {
        display: none;
    }

    .latest_properties_bottom_content ul li+li {
        margin-left: 24px;
    }

    .providing_one_left {
        margin-bottom: 50px;
    }

    .providing_one_four_boxes ul {
        float: none;
        text-align: center;
    }

    .providing_one_four_boxes ul li {
        margin-bottom: 25px;
    }

    .providing_one_four_boxes ul li+li {
        margin-left: 0;
    }

    .providing_one_left .block-title h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .providing_one_shaape_one {
        display: none;
    }

    #testimonials-one__carousel p {
        font-size: 25px;
        line-height: 35px;
    }

    .how_it_works_single {
        text-align: center;
    }

    .how_it_works_single li+li {
        margin-left: 0;
    }

    .how_it_works_single li:nth-child(3) {
        margin-left: 0;
        margin-bottom: 80px;
    }

    .how_it_works_single li:nth-child(1) {
        margin-bottom: 80px;
    }

    .how_it_works_single li:nth-child(2) {
        margin-bottom: 80px;
    }

    .how_it_works_shape_1 {
        display: none;
    }

    .blog_one_left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .blog_one_right:before {
        display: none;
    }

    .blog_one_carousel.owl-carousel .owl-stage-outer {
        margin-right: 0;
    }

    .blog_one_left .block-title h2 {
        font-size: 47px;
    }

    .blog_one_content_box {
        padding: 42px 30px 35px;
    }

    .blog_one_content_box h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .blog_one_carousel.owl-theme .owl-nav {
        display: none;
    }

    .blog_one {
        padding: 0px 0 120px;
    }

    .footer_widget__explore {
        margin-left: 0;
        margin-top: 40px;
    }

    .footer_widget__newsletter {
        margin-top: 40px;
    }

    .footer_input_box input {
        margin-bottom: 10px;
    }

    .site_footer_inner {
        flex-direction: column;
    }

    .site_footer_left {
        margin-bottom: 20px;
    }

    .cities_one_single {
        overflow: hidden;
    }

    .cities_one_properties_content {
        max-width: 100%;
        padding-left: 20px;
    }

    .cities_one_main_img_box {
        position: absolute;
        top: 0;
        right: 0;
    }

    .cities_flag {
        position: absolute;
        top: 50%;
        right: 115px;
        transform: translateY(-50%);
    }

    .cities_one_properties_content h4 {
        font-size: 17px;
    }

    .cta_one_inner {
        flex-direction: column;
    }

    .cta_one_text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .cta_one_text {
        margin-bottom: 20px;
        text-align: center;
    }

    .featured_properties_left {
        margin-left: 0;
    }

    .featured_properties_right {
        margin-left: 0;
        margin-top: 60px;
    }

    .featured_properties_price {
        padding-left: 20px;
    }

    .featured_properties_price p {
        font-size: 16px;
    }

    .membership_plan .block-title h2 {
        font-size: 48px;
    }

    .featured_properties_left {
        margin-left: 0;
    }

    .featured_properties_right {
        margin-left: 0;
        margin-top: 60px;
    }

    .why_choose_right {
        margin-left: 0;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .why_choose_one_left .block-title h2 {
        font-size: 39px;
        line-height: 49px;
    }

    .are_you_ready_content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .are_you_ready_content h2 br {
        display: none;
    }

    .are_you_ready_shape {
        display: none;
    }

    .two_boxes_iocn_and_content {
        flex-direction: column;
    }

    .two_boxes_content {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .two_boxes_content p br {
        display: none;
    }

    .three_icons_list {
        text-align: center;
    }

    .three_icons_list li {
        float: none;
        padding: 58px 30px 49px;
    }

    .three_icons_list:before {
        display: none;
    }

    .three_icons_list li:before {
        display: none;
    }

    .latest_properties_nav {
        display: none;
    }

    #latest_properties_pagination {
        max-width: 500px;
    }

    .latest_properties.two .latest_properties_nav {
        display: none;
    }

    .latest_properties.two #latest_properties_pagination {
        display: none;
    }

    .about_page_right {
        margin-left: 0;
        margin-top: 50px;
    }

    .contact__form {
        margin-top: 50px;
    }

    .contact .block-title h2 {
        font-size: 47px;
    }

    .faq {
        margin-top: 50px;
    }

    .faqs_img.mar-30 {
        margin-bottom: 30px;
    }

    .news_details_content_box h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .news_details__bottom {
        justify-content: center;
    }

    .news_details__social-list {
        margin-top: 20px;
    }

    .author-one {
        padding: 30px;
        flex-direction: column;
        align-items: inherit;
    }

    .author-one__content {
        margin-left: 0;
        margin-top: 30px;
    }

    .comment-one__single {
        flex-direction: column;
    }

    .comment-one__content {
        margin-left: 0;
        margin-top: 20px;
    }

    .comment-one__btn {
        position: relative;
        margin-top: 20px;
    }

    .comment-one__title,
    .comment-form__title {
        font-size: 30px;
    }

    .sidebar__search {
        padding: 45px 30px 50px;
    }

    .listing__one__map {
        width: 100%;
    }

    .listing_one_content_right {
        width: 100%;
    }

    .listing_one_content_right_input_box {
        margin-bottom: 20px;
    }

    .price_sidebar {
        margin-top: 20px;
    }

    .filter_by_tags_btn a.filter_results {
        margin-bottom: 20px;
    }

    .filter_inner_content .right {
        margin-top: 20px;
    }

    .listings_page_bottom_content {
        padding: 28px 20px 22px;
    }

    .listings_page_bottom_item ul li+li {
        margin-left: 15px;
    }

    .listings_page_bottom_item ul li {
        font-size: 11px;
    }

    .listings_page_bottom_item ul li span {
        padding-right: 6px;
    }

    .listings_two_page_content_single {
        flex-direction: column;
    }

    .listings_two_page_bottom_content {
        max-width: 285px;
        width: inherit;
    }

    .listings_two_page_bottom_item ul li {
        font-size: 11px;
    }

    .listing_details_top_product_list_box {
        margin-left: 0;
    }

    .listing_details_top_product_list li {
        flex-direction: column;
        text-align: center;
    }

    .listing_details_top_product_list li .text_box p {
        font-size: 13px;
    }

    .post_rating_and_view_list li {
        display: block;
    }

    .post_rating_and_view_list li ul.rating_list li {
        display: inline-block;
    }

    .post_rating_and_view_list li+li {
        margin-left: 0;
    }

    .post_rating_and_view_list li:before {
        display: none;
    }

    .listings_details_features_list {
        margin-bottom: 20px;
    }

    .listing_details_amenities_single {
        margin-bottom: 20px;
    }

    .listing_details_floor_plans_img {
        width: auto;
    }

    .listing_details_tags_box {
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: -10px;
    }

    .listing_details_tags_box a {
        margin-left: 10px;
        margin-top: 10px;
    }

    .listing_details_tags_title {
        text-align: center;
    }

    .review_two_box__single {
        align-items: inherit;
        flex-direction: column;
    }

    .review_two_box__content {
        margin-left: 0;
        margin-top: 20px;
    }

    .members_details_right {
        margin-left: 0;
        margin-top: 30px;
    }

    .testimonials_two_single {
        padding: 50px 30px 59px;
    }

    .testimonials_two .block-title h2 {
        font-size: 44px;
        line-height: 54px;
    }
}


@media only screen and (min-width: 1289px) and (max-width: 1775px) {
    .explore_one_next {
        margin-right: 40px;
    }


}

@media only screen and (min-width: 1200px) and (max-width: 1288px) {
    .explore_one_next {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1863px) {
    .listing__one__map {
        width: 35%;
    }

    .listing_one_content_right {
        width: 100%;
    }
    

    .listing_one_content_right_input_box input.min_input_box {
        max-width: 90px;
    }

    .listing_one_content_right_input_box input.max_input_box {
        max-width: 90px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1729px) {
    .banner_three_home_img {
        right: -235px;
    }

    .banner_three_home_img img {
        width: 75%;
    }
}

/*--------------------------------------------------------------
# Slider All Responsice Css
/////////
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .banner_one_search_form_input_box button.banner_one_search_btn {
        right: 20px;
    }

    .banner_two_shape {
        right: 120px;
    }

    .banner_three_home_img {
        right: -493px;
    }

    .banner_three_home_img img {
        width: 50%;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_one_search_form_input_box button.banner_one_search_btn {
        right: 20px;
    }

    .banner-one.two .content-box .top-title h2 {
        font-size: 77px;
    }

    .banner_two_shape {
        right: 15px;
    }

    .banner_three_home_img {
        display: none;
    }

    .banner_three_shape_one {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .banner-one .content-box .top-title h2 br {
        display: none;
    }

    .banner-one .content-box .top-title h2 {
        font-size: 41px;
        line-height: 50px;
    }

    .banner-one .content-box .top-title:before {
        display: none;
    }

    .product-tab-box .tab-btns .tab-btn span {
        height: 50px;
        width: 80px;
        line-height: 50px;
    }

    .banner_one_search_form_input_box input[type="text"] {
        padding-right: 25px;
        padding-left: 25px;
        font-size: 12px;
    }

    .banner_one_search_form_input_box button.banner_one_search_btn {
        position: relative;
        top: inherit;
        right: inherit;
        transform: inherit;
        left: inherit;
        margin-top: 20px;
    }

    .banner_one_search_icon {
        display: none;
    }

    .banner-one.two .banner_one_search_form_input_box button.banner_one_search_btn {
        right: 0;
    }

    .banner_two_shape {
        display: none;
    }

    .banner_three_top_title h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .banner_three_top_title:before {
        display: none;
    }

    .banner_three .banner_one_search_form_input_box input[type="text"] {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 12px;
    }

    .banner_three_home_img {
        display: none;
    }

    .banner_three_shape_one {
        display: none;
    }



}

/*--------------------------------------------------------------
# Main Menu All Responsice Css
/////////
--------------------------------------------------------------*/


@media (max-width: 1199px) {

    .main-nav__main-navigation {
        display: none !important;
    }




}

@media only screen and (min-width: 1200px) and (max-width: 1216px) {
    .header_top_one_logo_box {
        max-width: 253px;
    }


}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .header_top_one_logo_box {
        max-width: 160px;
    }

    .header_top_one_content_box {
        max-width: 750px;
    }

    .header_top_one_content_box_bottom__social_box {
        margin-left: 0;
    }

    .main-nav__left_one .side-menu__toggler {
        padding: 24.5px 0;
    }

    
    .logo_mobile_front {
        display: inline;
        padding: 0 1em;
    }

    .icon-mobile {
        display: none;
    }



    .main-nav__header-one.two .main-nav__left_one .side-menu__toggler {
        padding: 41.5px 0;
        margin-left: 0;
        color: #ffffff;
    }


    .main-nav__header-one.two.three .main-nav__left_one .side-menu__toggler {
        color: var(--thm-base);
    }



}




@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav__left_one .side-menu__toggler {
        padding: 24.5px 0;
    }


    .main-nav__header-one.two .main-nav__left_one .side-menu__toggler {
        padding: 41.5px 0;
        margin-left: 0;
        color: #ffffff;
    }

    .main-nav__header-one.two.three .main-nav__left_one .side-menu__toggler {
        color: var(--thm-base);
    }

    .logo_mobile_front {
        display: inline;
        padding: 0 1em;
    }

    .icon-mobile {
        display: none;
    }

}




@media (max-width: 767px) {
    .main-nav__left_one .side-menu__toggler {
        padding: 24.5px 0;
    }

    .main-nav__right_one .icon_cart_box {
        display: none;
    }

    .main-nav__right_one .icon_search_box {
        display: none;
    }

    .icon-mobile {
        display: none;
    }

    .logo_mobile_front {
        display: inline;
        padding: 0 1em;
    }


    .main-nav__header-one.two .main-nav__left_one .side-menu__toggler {
        padding: 41.5px 0;
        margin-left: 0;
        color: #ffffff;
    }

    .header_top_one.two {
        display: none;
    }

    .main-nav__header-one.two .main-nav__right_one {
        display: none;
    }

    .main-nav__header-one.two.three .main-nav__left_one .side-menu__toggler {
        color: var(--thm-base);
    }



}

@media(max-width: 991px) {
    .header_top_one_content_box {
        display: none;
    }

    .header_top_one_logo_box {
        float: none !important;
        text-align: center;
        max-width: 100%;
    }

    .header_top_one_logo {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .blog_one_carousel.owl-theme .owl-nav {
        width: 100%;
        left: auto;
        bottom: auto;
        position: relative;
    }

    .why_choose_two_bg {
        display: none;
    }

    .membership_plan {
        margin-bottom: 0;
    }

    .main-nav__header-one.two .stricked-menu .main-nav__left_one .side-menu__toggler {
        padding-top: 25.5px;
        padding-bottom: 25.5px;
    }

    .why_choose_right {
        margin-bottom: 120px;
    }

    .latest_properties.two .thm-swiper__slider {
        margin-right: 0;
    }

    .listing__one__map {
        position: relative;
    }

    .listing__one__map .google-map {
        height: 500px;
    }

    .listing_details_sidebar {
        margin-top: 80px;
    }
}

@media(max-width: 479px) {
    .banner-one {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .banner-one .content-box .top-title h2 {
        font-size: 36px;
    }

    .banner-one .content-box .top-title {
        margin-bottom: 35px;
    }

    .banner_one_search_form_input_box input[type="text"] {
        font-size: 14px;
        height: 70px;
    }

    .latest_properties,
    .cta_one_inner,
    .featured_properties,
    .are_you_ready,
    .page-header,
    .site_footer,
    .faqs,
    .explore_one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .blog_one_left .block-title h2,
    .membership_plan .block-title h2,
    .why_choose_one_left .block-title h2,
    .are_you_ready_content h2,
    .banner_three_top_title h2,
    .testimonials_two .block-title h2,
    .page-header-inner h2,
    .contact .block-title h2,
    .block-title h2 {
        font-size: 36px;
        line-height: 1.4;
    }

    .block-title,
    .explore_one .block-title {
        margin-bottom: 25px;
    }

    .how_it_works .block-title {
        margin-bottom: 50px;
    }

    .why_choose_one {
        padding-bottom: 40px;
    }

    .providing_one_four_boxes ul li {
        max-width: 170px;
    }

    #testimonials-one__carousel p br {
        display: none;
    }

    #testimonials-one__carousel p {
        font-size: 22px;
        line-height: 1.6;
        padding-left: 15px;
        padding-right: 15px;
    }

    .testimonials-one__meta h3 {
        margin-top: 20px;
    }

    #testimonials-one__carousel {
        padding-bottom: 80px;
    }

    .testimonials_one {
        padding-bottom: 80px;
    }

    .banner-one.two {
        padding-top: 190px;
        padding-bottom: 100px;
    }

    .banner-two__bg-slide .swiper-pagination {
        bottom: 25px;
    }

    .featured_properties_price h2 {
        font-size: 36px;
        line-height: 1;
    }

    .two_boxes,
    .explore_two,
    .testimonials_two,
    .blog_one.three,
    .cities_one {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .membership_plan {
        padding-bottom: 50px;
    }

    .featured_properties_right_list li {
        font-size: 18px;
    }

    .why_choose_right {
        margin-bottom: 80px;
    }

    .are_you_ready_content h2 {
        margin-bottom: 25px;
    }

    .blog_one.two {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .banner_three {
        padding-top: 100px;
        padding-bottom: 0px;
    }

    .banner_three_top_title h2 br {
        display: none;
    }

    .latest_properties.three {
        padding-bottom: 20px;
    }

    .three_icons {
        padding-bottom: 80px;
    }

    .team_one {
        padding-bottom: 20px;
    }

    .faq-one-accrodion .accrodion-content,
    .faq-one-accrodion .accrodion-title {
        padding-left: 25px;
        padding-right: 25px;
    }

    .faq-one-accrodion .accrodion .accrodion-title h4::before {
        right: -15px;
    }

    .listing_one_content_right {
        padding-left: 30px;
        padding-right: 30px;
    }

    .listings_two_page_bottom_content,
    .listings_two_page_img,
    .listings_two_page_main_img {
        width: 100%;
        max-width: 100%;
    }

    .listing_details_bottom_right,
    .listing_details_top_right_btn_box {
        float: left;
    }

    .listing_details_bottom_right {
        margin-top: 20px;
    }

    .post_rating_and_view_list li ul.rating_list {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .listing_details_top_right_btn_box p {
        text-align: left;
    }

    .listing_details_video_btn {
        width: 80px;
        height: 80px;
        font-size: 18px;
    }

    .listing_details_calculator {
        padding: 30px;
    }

    .news_details_content_box h3 {
        margin-bottom: 15px;
    }
}